@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:900);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
// bower:scss

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
h1{
    font-size:3em;
}
/* Space out content a bit */
//color variables

$primary:#415c71;



body{
  padding:0px;
  margin:0px;
height:100%;
  position:relative;
  font-family: 'Open Sans Condensed', sans-serif;
}
section{
  display:block;
  position:fixed;
  width:90%;
  height:90%;
}



section:first-child{
    text-align: center;
    color:#ddd;
    background: $primary;
   


        
    svg{
       position: absolute;
        bottom: 5%;
        margin-left: -61px;
        
    }
    svg:hover{
            
            cursor: pointer;
        
            .circle{
                fill-opacity:1;
                fill:white;
            }

            .line{
                stroke:#222;
            }
    }

    

}

.right_half{
h1{
    background: white;
padding: 5px 20px;
display: inline-block;
margin-top: 25px;
border-radius: 5px;
color: #415c71;
text-shadow: 2px 1px 1px rgb(189, 189, 189);
}

 h2{
    font-size: 2em;
color: white;
text-shadow: 1px 1px 1px;
margin:5px;
    }

    }

section.nextDate{

  background: #00C7AB;
 
}

    


section:nth-child(2)  {
    
    color:white;

}

section:nth-child(2) .vid{
float: right;
height: 100px;
width: 100px;
border-radius: 50%;
position: absolute;
top: 4%;
left: 71%;


background-repeat: no-repeat;
background-size: cover;
background-position: 55%;

z-index: 1;
   

}
 .vid.gifs{
        background-image: url(/images/firsttalk.gif);
        box-shadow: inset 2px 15px 15px #333;
    }
    .vid.rs{
         background-image: url(/images/runningstartimg.jpg);
         box-shadow: inset 2px 10px 15px #333;
    }


.vid.gifs:hover:before{
        display: block;
        content:"";
        border-radius: 50%;
        position: absolute;
        height:10%;
        padding-top:45%;
        padding-bottom: 45%;
        width:100%;
        background:#FF2255;
        opacity:.6;
        text-align: center;
        z-index: 3;
}
.vid.gifs:hover:after{
     content: "View Slides";
    color: #FAE2E2;
    font-size: 21px;
    font-weight: 700;
    text-shadow: -1px 0px 1px whitesmoke;
    display: block;
    border-radius: 50%;
    height: 10%;
    padding-top: 36%;
    padding-bottom: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 7;

    }

div.desc_topic{
    width:80%;
    margin-left: 10%;
    font-size:1.15em;
    p:nth-child(2) a{
        font-size: 1.35em;
        color:white;



    }

    p:nth-child(2) a:hover{
            color:#333
    }
}

div.desc_topic p:first-child{
font-size: 1.50em;
font-weight: 700;
}

.gotoslides {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
    a{
          
color: white;
text-decoration: none;
border: 2px solid white;
border-radius: 1px;
padding: 5px 15px;  
-webkit-transition: background 200ms ease;
transition: background 200ms ease;
    }

    a:hover{
        color:#00C7AB;
        background: white;
    }

}
section:nth-child(3){
  top:50%;
  border-color:#CCDDCC;
}

section:nth-child(4){
  top:74%;
  border-color:#FF2255;
}
// section:nth-child(5){
//   top:80%;
//   border-color:#559999;
// }
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


.intro_title{
  font-size:40px;
 width:60%;
  margin-left:20%;
}

.third:last-child{
    width:34%;
    background: #F06050;

    .gotoslides a:hover{
        color:#F06050;
    }

}

.social_icons{
    color:white;
    position: absolute;
    bottom:1%;
    width: 100%;
    text-align: center;
}
.social_icons a{
        
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}
.social_icons a:hover{
        
    color: #F7CD1F;
}

a.meetup{
    height: 3.5em;
width: 3.5em;
background: white;
display: inline-block;
border-radius: .75em;
margin-top: 3px;
vertical-align: sub;
position:relative;
}

a.meetup:after{
    z-index: 5;
    color: white;
    font-family: 'Waiting for the Sunrise', cursive;
    content: "meetup";
    position: absolute;
    left: 0%;
    top: 25%;
    background: #415c71;
    width: 101%;
}
a.meetup:hover{
    background: #F7CD1F;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


section{
     position: fixed;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      width: 90%;
      height: 90%;
     
}
.active {
  -webkit-transform: translatey(5%) translatex(5%);
  -ms-transform: translatey(5%) translatex(5%);
  transform: translatey(5%) translatex(5%);
}

.remove {
  -webkit-transform: translatey(-110%) translatex(5%) ;
  -ms-transform: translatey(-110%) translatex(5%) ;
  transform: translatey(-110%) translatex(5%) ;
}

.below {
  -webkit-transform: translatey(220%) translatex(5%) ;
  -ms-transform: translatey(220%) translatex(5%) ;
  transform: translatey(220%) translatex(5%) ;
}

.left_half{
    position:relative;
    width:50%;
    float:left;
    height:100%;
        
        .titles{
            height: 200px;
            position: absolute;
            top: 50%;
            margin-top: -100px;
            font-family: 'Source Code Pro', ;
            width: 100%;
             text-shadow: 1px 1px 0px rgba(224, 222, 222, 0.86);

            h1{
                font-size: 2.5em;
                margin-top: 0px;
                margin-bottom: 10px;
            }

        }    

}



.right_half{
    width:50%;
    float:right;
   height: 100%;
   background: url(/images/codingshot2.jpg);
background-size: 110% 109%;
background-position: center;
}

.third{
    width:33%;
    height:100%;
    float:left;
    padding:15px;
    border-right: 1px inset rgba(#ddd, .5);
    position: relative;
    box-sizing: border-box;

    h1,h2{
    margin-top:5px;
    margin-bottom: 5px;
    border-bottom:5px solid white;
  }

    h1{
        width:70%;
    }

}













/*INTRO NAME ANIMATION*/
.intro_title div{
    float:left;
     font-family: 'Oswald', sans-serif;
}
.doubleyas {
  // position: relative;
  // // float: left;
  // width: 70px;
}


