@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:900);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

h1 {
  font-size: 3em; 
  margin-top: 0;
}

/* Space out content a bit */
html{
  width:100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width:100%;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif; }


@media (min-width:600px){


section {
  display: block;
  position: fixed;
  width: 90%;
  height: 90%; }

  section:first-child {
  text-align: center;
  color: #ddd;
  background: url('../images/mouseondesk.jpg');
  background-size: cover;
  background-position: center; }

  section:first-child svg:hover {
    cursor: pointer; }
    section:first-child svg:hover .circle {
      fill-opacity: 1;
      fill: white; }
    section:first-child svg:hover .line {
      stroke: #222; }


.right_half{
  position:relative;
}


.right_half h1 {
  background: white;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 5px;
  color: #415c71;
  text-shadow: 2px 1px 1px #bdbdbd; }
.right_half h2 {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 1px;
  margin: 5px; }



section.nextDate {
  background: #00C7AB; }

section:nth-child(2) {
  color: white; }

section:nth-child(2) .vid {
  float: right;
  height: 100px;
  width: 100px; 
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 71%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  z-index: 1; }

.vid.gifs {
  background-image: url('../images/firsttalk.gif');
  box-shadow: inset 2px 15px 15px #333; }

.vid.rs {
  background-image: url('../images/runningstartimg.jpg');
  box-shadow: inset 2px 10px 15px #333; }

.vid.gifs:hover:before {
  display: block;
  content: "";
  border-radius: 50%;
  position: absolute;
  height: 10%;
  padding-top: 45%;
  padding-bottom: 45%;
  width: 100%;
  background: #FF2255;
  opacity: .6;
  text-align: center;
  z-index: 3; }

.vid.gifs:hover:after {
  content: "View Slides";
  color: #FAE2E2;
  font-size: 21px;
  font-weight: 700;
  text-shadow: -1px 0px 1px whitesmoke;
  display: block;
  border-radius: 50%;
  height: 10%;
  padding-top: 36%;
  padding-bottom: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 7; }

div.desc_topic {
  width: 80%;
  margin-left: 10%;
  font-size: 1.15em; }
  div.desc_topic p:nth-child(2) a {
    font-size: 1.35em;
    color: white; }
  div.desc_topic p:nth-child(2) a:hover {
    color: #333333; }

div.desc_topic p:first-child {
  font-size: 1.50em;
  font-weight: 700; }

.gotoslides {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .gotoslides a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 1px;
    font-size:22px;
    padding: 5px 15px;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease; }
  .gotoslides a:hover {
    color: #00C7AB;
    background: white; }

section:nth-child(3) {
  top: 50%;
  border-color: #CCDDCC; }

section:nth-child(4) {
  top: 74%;
  border-color: #FF2255; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

.intro_title {
  font-size: 40px;
  width: 60%;
  margin-left: 20%; }

.third:last-child {
  width: 34%;
  background: #F06050; }
  .third:last-child .gotoslides a:hover {
    color: #F06050; }

.social_icons {
  color: white;
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center; }

.social_icons a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px; 
  -webkit-transition:background 100ms linear;
  -moz-transition:background 100ms linear;
  transition:background 100ms linear;
}

.social_icons a:hover {
  color: #c0392b; }

a.meetup {
  height: 3.5em;
  width: 3.5em;
  background: white;
  display: inline-block;
  border-radius: .75em;
  margin-top: 3px;
  vertical-align: sub;
  position: relative; }

a.meetup:after {
  z-index: 5;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
  content: "meetup";
  position: absolute;
  left: 0%;
  top: 25%;
  background: #415c71;
  width: 101%; }

a.meetup:hover {
  background: #c0392b; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }


section {
  position: absolute;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  width: 90%;
  height: 90%; }

.active {
  -webkit-transform: translatey(5%) translatex(5%);
  -ms-transform: translatey(5%) translatex(5%);
  transform: translatey(5%) translatex(5%); }



.nextDate {
  -webkit-transform: translatey(115%) translatex(5%);
  -ms-transform: translatey(115%) translatex(5%);
  transform: translatey(115%) translatex(5%); 
 margin-bottom:30px;

}

.left_half {
  position: relative;
  width: 50%;
  float: left;
  height: 100%; }
  .left_half .titles {
    height: 200px;
    position: absolute;
    top: 5%;
    font-family: "Source Code Pro";
    width: 100%;
    text-shadow: 1px 1px 0px rgba(224, 222, 222, 0.86); }
    .left_half .titles h1 {
      font-size: 2.5em;
      margin-top: 0px;
      margin-bottom: 10px; }

.left_half{
   background: rgba(65, 92, 113, 0.49);
}

.right_half {
   background:rgba(106, 117, 117, 0.49);
  width: 50%;
  float: right;
  height: 100%;
 }

 .right_half svg {
    position: absolute;
    bottom: 5%;
    left:50%;
    margin-left: -61px; 

}

.third {
  width: 33%;
  height: 100%;
  float: left;
  padding: 15px;
  border-right: 1px inset rgba(221, 221, 221, 0.5);
  position: relative;
  box-sizing: border-box; }
  .third h1, .third h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 5px solid white; }
  .third h1 {
    width: 70%; }

.date{

line-height: 11px;
color: #415c71;

}


.date h2,
.date h1{
background:none;
color: #415c71;
background-color:none;
}


.date h2{
  text-decoration:underline;
}


.location a{
  display: block;
margin-top: -25px;
color:white;
}

.location a:hover{

  color:#555;

}

.some_nav{
text-align: right;
}

.some_nav a{
  color:#415c71;
  padding:0 10px;
}


/*INTRO NAME ANIMATION*/
.intro_title div {
  float: left;
  font-family: 'Oswald', sans-serif; }

@-webkit-keyframes wm {
  0%,100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  29% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

  80% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
@keyframes wm {
  0%,100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  29% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

  80% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
.rotatingm {
  -webkit-animation: wm 8s linear forwards;
  animation: wm 8s linear forwards; }

@-webkit-keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes hide {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    position: aboslute; } }
@keyframes hide {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    position: aboslute; } }



}


 @media (max-width: 1027px){

section.nextDate{
  background: none;
}

.third {
  width: 100%;
  height: 380px;
  float: left;
  padding: 15px;
  border-right: 1px inset rgba(221, 221, 221, 0.5);
  position: relative;
  box-sizing: border-box; 
  margin-bottom: 10px;
}

.third:first-child,
.third:last-child{
 background: #F06050;
width:100%;
}
.third:nth-child(2){
background: #00C7AB;

}
.gotoslides{
  width:40%;
  bottom:30px;
}
  .desc_time{
    width:40%;
  }
 
 section:nth-child(2) .vid{
left:30% !important;
 }

div.desc_topic {
width: 40%;
margin-left: 10%;
font-size: 1.15em;
position: absolute;
left: 45%;
top: 0;
}



 }   


 /* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }



@media screen and (max-width:600px) and (orientation: portrait) {
  
  section {
  display: block;
  width: 100%;
  height: 100%; 
  
  
  }



section h1{
  margin-top:0px;
  margin-bottom:15px;
  font-size:2em;
  color:white;
}

  section:first-child {
  text-align: center;
  color: #ddd;
  background: url('../images/mouseondesk.jpg');
  background-size: cover;
  background-position: center; }
  
  

  section:first-child svg:hover {
    cursor: pointer; }
    section:first-child svg:hover .circle {
      fill-opacity: 1;
      fill: white; }
    section:first-child svg:hover .line {
      stroke: #222; }
  
  
  




.left_half {
  position: relative;
  width: 100%;
  float: left;
  height: 50%; }
  .left_half .titles {
    height: 200px;
    position: absolute;
    top: 5%;
    font-family: "Source Code Pro";
    width: 100%;
 }
   
   
    .left_half .titles h1 {
      font-size: 1.5em;
      margin-top: 0px;
      margin-bottom: 5px;
  
    
    }

.left_half{
   background: rgba(65, 92, 113, 0.49);
}

.right_half {
   background:rgba(106, 117, 117, 0.49);
  width: 100%;
  float: right;
  height: 50%;
 }

 .right_half svg {
    position: absolute;
    bottom: 5%;
    left:50%;
    margin-left: -25px; 
  height:50px;
  width:50px;

}


.social_icons {
display:none; }


.third {
   box-sizing: border-box; 
  width: 100%;
  height: 95%;
  float: left;
  padding: 15px;
  border-right: 1px inset rgba(221, 221, 221, 0.5);
  position: relative;
  margin-bottom: 0px;
  color:white;
}




  .desc_time{
  position:relative;
    width:100%;
  float:left;
  text-align:center;
  }
  
  
div.desc_topic {
position:relative;
display:block;
width: 100%;
margin-left: 0;
font-size: 1em;
float:left;
color:white;
left:0;
margin-bottom:10px;
}

div.desc_topic p:first-child{
  font-size:1.75em;

}

  
  
  .desc_time h1{
   margin-bottom:0px;
  }
  
    .desc_time h2{
    margin-top:0px;
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
  }
 
 section .vid{
display:none;
 }



.gotoslides {
  position:absolute;
  width: 50%;
  margin-left:25%;
  text-align: center;
  bottom:0px;
 
  
  
  }
 
  
  .gotoslides a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 1px;
    font-size:22px;
    padding: 5px 15px;
   box-shadow: 0px 2px 1px 1px rgba(155,155,155,.5);
   text-shadow:2px 1px 1px rgba(155,155,155,.5);
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease; }
  
  
  .gotoslides a:hover {
    color: #00C7AB;
    background: white; }

}




@media screen and (max-width:600px) and (orientation: landscape) {
  
  section {
  display: block;
  width: 100%;
  height: 100%; 
  
  
  }



section h1{
  margin-top:0px;
  margin-bottom:15px;
  font-size:2em;
  color:white;
}

  section:first-child {
  text-align: center;
  color: #ddd;
  background: url('../images/mouseondesk.jpg');
  background-size: cover;
  background-position: center; }
  
  

  section:first-child svg:hover {
    cursor: pointer; }
    section:first-child svg:hover .circle {
      fill-opacity: 1;
      fill: white; }
    section:first-child svg:hover .line {
      stroke: #222; }
  
  
  




.left_half {
  position: relative;
  height: 100%;
  float: left;
  width: 50%; }
  .left_half .titles {
    height: 200px;
    position: absolute;
    top: 5%;
    font-family: "Source Code Pro";
    width: 100%;
 }
   
   
    .left_half .titles h1 {
      font-size: 1.5em;
      margin-top: 0px;
      margin-bottom: 5px;
  
    
    }

.left_half{
   background: rgba(65, 92, 113, 0.49);
}

.right_half {
   background:rgba(106, 117, 117, 0.49);
  height: 100%;
  float: right;
  width: 50%;
 }

 .right_half svg {
    position: absolute;
    bottom: 5%;
    left:50%;
    margin-left: -25px; 
  height:50px;
  width:50px;

}


.social_icons {
display:none; }


.third {
   box-sizing: border-box; 
  width: 100%;
  min-height: 320px;
  float: left;
  padding: 15px;
  border-right: 1px inset rgba(221, 221, 221, 0.5);
  position: relative;
  margin-bottom: 0px;
  color:white;
}




  .desc_time{
  position:relative;
    width:100%;
  float:left;
  text-align:center;
  }
  
  
div.desc_topic {
position:relative;
display:block;
width: 100%;
margin-left: 0;
font-size: 1em;
float:left;
color:white;
left:0;
margin-bottom:10px;
}

div.desc_topic p:first-child{
  font-size:1.75em;

}

  
  
  .desc_time h1{
   margin-bottom:0px;
  }
  
    .desc_time h2{
    margin-top:0px;
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
  }
 
 section .vid{
display:none;
 }



.gotoslides {
  position:absolute;
  width: 50%;
  margin-left:25%;
  text-align: center;
  bottom:0px;
 
  
  
  }
 
 
 
  
  
  .gotoslides a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 1px;
    font-size:22px;
    padding: 5px 15px;
   box-shadow: 0px 2px 1px 1px rgba(155,155,155,.5);
   text-shadow:2px 1px 1px rgba(155,155,155,.5);
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease; }
  
  
  .gotoslides a:hover {
    color: #00C7AB;
    background: white; }







}



































